.background {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  background-size: cover;
  background-position: center;
}

.top-text-center {
  width: 100%;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

.top-text-leftbottom2 {
  position: fixed;
  bottom: 0;
  left: 0;
}

.top-text-leftbottom {
  width: 100%;
  height: 100vh;
  display:flex;
  align-items: flex-end;
}

.top-popup {
  position: absolute;
  width: 100%;
  background-color: #ffffff44
}

.focus-current {
  font-size: 150%;
  text-decoration: underline;
}